:root {
  --primary-color: rgb(11, 78, 179);
  --dark-body: #4d4c5a;
  --dark-main: #141529;
  --dark-second: #79788c;
  --dark-hover: #323048;
  --dark-text: #f8fbff;
  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #edf0f5;
  --light-text: #151426;
  --blue: #007497;
  --white: #fff;
  --shadow: 0px 0px 8px 1px #D4D4D8;
  --font-family: cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: grid;
  min-height: 100vh;
  --bg-body: var(--light-body);
  --bg-main: var(--light-main);
  --bg-second: var(--light-second);
  --color-hover: var(--light-hover);
  --color-txt: var(--light-text);
}

/* header */

header {
  background-color: transparent;
  overflow: visible;
  margin: 12px 7%;
}

header .title {
  float: left;
  display: flex;
  font-variant: small-caps;

}

header #highlight {
  color: rgb(15, 67, 240);
  font-weight: bolder;
}

header .nav {
  margin-top: 10px;
  float: right;
}

header .nav a {
  padding: 10px;
  text-decoration: none;
  color: grey;
}

header a:hover {
  font-weight: 600;
  cursor: pointer;
  color: whitesmoke;
  background-color: rgb(15, 67, 240);
}

#home-btn {
  padding: 3px 10px;
  border: 0px solid gray;
  border-radius: 5px;
}

/* Global Stylings */
.main-phase {
  display: flex;
  flex-wrap: wrap;
}

.calendar-phase {
  width: 50%;
  min-width: 350px;
  height: 100%;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.width-50 {
  width: 40%;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

/* Progressbar */
.progressbar {
  width: 70%;
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 15px auto 10px auto;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 3px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}

.progress {
  background-color: var(--primary-color);
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 28px;
  height: 28px;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: 30px;
  font-size: 12px;
  color: #666;
}

.progress-step-active {
  background-color: var(--primary-color);
  color: #f3f3f3;
}

/* Form */
.form {
  width: 80%;
  min-width: 400px;
  height: fit-content;
  margin: 0 auto;
  /* border: 1px solid #ccc; */
  border-radius: 15px;
  padding: 18px;
  box-shadow: var(--shadow);
}

.form .title {
  font-size: 20px;
}

.form-step {
  width: 47%;
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}

.form-step-active {
  display: block;
  min-width: 301px;
  height: fit-content;
}

.input-group {
  margin: 2rem 0;
}

input[type="radio"] {
  visibility: hidden;
  height: 0;
  width: 0;
}

.eventSlots {
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}

.eventSlotsBlock {
  height: 225px;
  width: 98%;
  align-content: baseline;
  display: flex;
  flex-wrap: wrap;
}

#eventSlotPage {
  display: none;
}

.radioLabel {
  font-size: 13px;
  text-align: center;
  width: 43%;
  margin: 10px 10px;
  height: 30px;
  cursor: pointer;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radioLabel:hover {
  background-color: bisque;
}

input[type="radio"]:checked+label {
  background-color: rgb(0, 0, 0);
  color: white;
}

.userDetails {
  margin-bottom: 10px;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 92%;
}

.star-mrk {
  color: red;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

#confirmation {
  display: flex;
  padding: 5px;
  align-items: center;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.event-details {
  display: flex;
  margin-bottom: 5px;
}

.event-key {
  min-width: 100px;
  font-weight: bold;
}

.event-value {
  flex: 1;
}

#verifyDetails {
  font-size: 14px;
}

.verifyDetails {
  width: 100px;
  border-bottom: 2px solid black;
  margin-bottom: 5px;
}

.slotTimeBlocked {
  color: #777676;
  background-color: #ffffff;
  border-color: #5b5b5b;
  cursor: not-allowed;
  display: none;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }

  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

/* Button */
.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: #f3f3f3;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}

/* calender */

.calendar {
  height: auto;
  width: 400px;
  background-color: transparent;
  border-radius: 30px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--color-txt);
  padding: 10px;
}

.calendar-body {
  padding: 10px;
}

.calendar-week-day {
  text-align: left;
  height: 25px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
}

.calendar-week-day div {
  display: grid;
  place-items: center;
  color: var(--dark-main);
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: var(--color-txt);
  justify-items: center;
  height: 240px;
}

.calendar-days div {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  cursor: not-allowed;
  animation: to-top 1s forwards;
  color: #79788c;
  opacity: 0.8;
}

.calendar-days div span {
  position: absolute;
}

.calendar-days div:hover span {

  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
  width: 2px;
  height: 0;
  background-color: blue;
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
  height: 100%;
}

.calendar-days div span:nth-child(1) {
  bottom: 0;
  left: 0;
}

.calendar-days div span:nth-child(3) {
  top: 0;
  right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
  width: 0;
  height: 2px;
  background-color: blue;
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
  width: 100%;
}

.calendar-days div span:nth-child(2) {
  top: 0;
  left: 0;
}

.calendar-days div span:nth-child(4) {
  bottom: 0;
  right: 0;
}

.calendar-days div:hover span:nth-child(2) {
  transition-delay: 0.05s;
}

.calendar-days div:hover span:nth-child(3) {
  transition-delay: 0.10s;
}

.calendar-days div:hover span:nth-child(4) {
  transition-delay: 0.15s;
}

.calendar-days .calendar-day-event {
  color: black;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  background-color: #F5F5F5;
}

.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: default;
}

/* .month-picker:hover {
    background-color: var(--color-hover);
} */

.year-picker {
  display: flex;
  width: 120px;
  align-items: center;
}

.year-change {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.year-change:hover {
  background-color: var(--color-hover);
}

.calendar-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.toggle {
  display: flex;
}

.toggle span {
  margin-right: 10px;
  color: var(--color-txt);
}

.month-list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-main);
  padding: 20px;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  display: grid;
  transform: scale(1.5);
  visibility: hidden;
  pointer-events: none;
  align-items: center;
  overflow: auto;
}

.month-list::-webkit-scrollbar {
  display: none;
}

.month-list.show {
  transform: scale(0.9);
  visibility: visible;
  pointer-events: visible;
  transition: all 0.2s ease-in-out;
}

.month-list>div {
  display: grid;
  place-items: center;
}

.month-list>div>div {
  width: 100%;
  padding: 5px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: var(--color-txt);
}

.month-list>div>div:hover {
  background-color: var(--color-hover);
}

@media only screen and (max-width: 930px) {
  .main-phase {
    justify-content: center;
  }

  .form-step-active {
    width: 60%;
  }
}